@using System;
@model Player;


@if ( ViewBag.user != null) {
    <div class="text-center">
        <div class="wishlist-view">
            <h1>Active club listings</h1>
            <br/>
            @foreach (Player player in ViewBag.ClubListings) {
                <div class="row">
                    <h4><strong>@player.Name (@player.Age y/o)</strong> - @(player.Price*1000000)&euro;</h4>
                </div>
                    <form method="post" asp-action="DeactivateListing" asp-controller="Profile">
                        <button type="submit" value="@player.PlayerID" name="pid">Deactivate Listing</button>
                    </form>
                    <form method="post" asp-action="EditListing" asp-controller="Profile">
                        <button type="submit" value="@player.PlayerID" name="pID">Edit Listing</button>
                    </form>
                <br/><br/><br/>
            }
        </div>
        <form asp-controller="Profile" asp-action="Index">
            <button type="submit" >Go Back</button>
        </form>
    </div>
}
    else {
        <div class="no-login">
            <h1>You are not logged in. Please log in and try again</h1>
        </div>
    }
    
</div>